'.source.python':

# Miscelaneous

    'Logging':
        'prefix': 'pylogging'
        'body': """
            import logging
            _logger = logging.getLogger(__name__)
            _logger.debug($1)
        """
